/* =============
	MAIN STYLES
   ============= */

/* -------
	Fonts
   -------
	The fonts that must be loaded by the user in order to be displayed. */
/* ARVO */
/* Arvo Regular */
@font-face {
	/* Typography */
	font-family: Arvo;
	src: url('../fonts/arvo-regular.ttf') format('truetype');
}

/* Arvo Bold */
@font-face {
	/* Typography */
	font-family: Arvo;
	font-weight: bold;
	src: url('../fonts/arvo-bold.ttf') format('truetype');
}

/* Arvo Italic */
@font-face {
	/* Typography */
	font-family: Arvo;
	font-style: italic;
	src: url('../fonts/arvo-italic.ttf') format('truetype');
}

/* Arvo Bold Italic */
@font-face {
	/* Typography */
	font-family: Arvo;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/arvo-bold-italic.ttf') format('truetype');
}

/* ROBOTO SLAB */
/* Roboto Slab Regular */
@font-face {
	font-family: "Roboto Slab";
	src: url('../fonts/RobotoSlab-regular.ttf') format('truetype');
}

/* ----------------
	Generic styles
   ---------------- */
/* BASIC TYPOGRAPHY */
body {
	font-family: Arvo, Georgia, serif;
	font-size: 16px;
	line-height: 22px;
	color: #888;
}

/* TITLES */
h1 {
	padding-top: 40px;

	font-family: "Roboto slab", Arvo, Georgia, serif;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #000;
}

h2 {
	font-family: "Roboto slab", Arvo, Georgia, serif;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
}

h3 {
	font-family: "Roboto slab", Arvo, Georgia, serif;
	font-size: 18px;
	line-height: 25px;
	color: #000;
}

/* PARAGRAPHS */
p {	margin-bottom: 22px; }

/* LINKS */
/* Links' blue color, except for the "Projects" links */
*:not(#projects) a { color: #41a0eb; }

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* Disable gray overlay in Safari for iOS and Chrome for Android */
}

a:hover { text-decoration: underline; }

/* Links are green when being clicked, except for the "Projects" links */
*:not(#projects) a:active { color: #6abc46; }

/* SUPERSCRIPT */
sup {
	vertical-align: 5px;

	font-size: 10px;
	line-height: 0;
	font-weight: bold;
}

/* EMPHASIS */
em { font-style: italic; }

/* --------
	Header
   --------
	The header refers to the top blurred picture and the round logo. */
#header {
	position: relative;

	height: 200px;

	background-image: url("../img/header-photo.jpg");
	background-position: center;
	background-size: cover;
}

/* THE "ar" LOGO
   It is displayed at the center of the header. */
#ar-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -54px 0 0 -54px;

	width: 108px;
	height: 108px;

	background-color: rgba(255,255,255,.2);
	border-radius: 54px;
}

#ar-logo:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -34px 0 0 -34px;

	width: 68px;
	height: 68px;
	overflow: hidden;

	background-image: url("../img/ar-logo.png");
	background-size: cover;
	border-radius: 34px;
}

/* ------------
	Sub-header
   ------------ */
#sub-header {
	height: 150px;

	border-bottom: 1px solid #888;
}

/* --------------
	Main content
   -------------- */
#main-content {
	padding-top: 40px;
}

/* ----------
	Projects
   ---------- */
#projects { margin: 40px 0; }

#projects li {
	position: relative;
	margin: 20px 0;

	min-height: 80px;
	padding-left: 100px;
}

#projects a { color: inherit; }

#projects a:hover { text-decoration: none; }

#projects a:hover h3 {
	color: #41a0eb;
	text-decoration: underline;
}

#projects a:active { color: inherit; }

#projects a:active h3 { color: #6abc46; }

/* PROJECT ITEMS */
#projects li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 80px;
	height: 80px;

	border-radius: 40px;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Mado project */
#mado:before { background-image: url("../img/mado-logo.png"); }

/* GitHub projects */
#github:before { background-image: url("../img/github-logo.png"); }

/* Medium writings project */
#medium:before { background-image: url("../img/medium-logo.png"); }

/* --------
	Footer
   -------- */
#footer {
	margin-top: 40px;

	padding: 20px 0 40px;

	border-top: 1px solid #888;
}

#footer a {
	position: relative;

	padding-left: 25px;

	color: inherit;
}

#footer a:not(:last-of-type) { margin-right: 10px; }

#footer a:before {
	content: "";
	position: absolute;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#twitter-link:before {
	top: 50%;
	left: 4px;
	margin-top: -7px;

	width: 18px;
	height: 15px;

	background-image: url("../img/twitter-icon.png");
}

#contact-link:before {
	top: 50%;
	left: 3px;
	margin-top: -7px;

	width: 18px;
	height: 14px;

	background-image: url("../img/letter-icon.png");
}


/* ==================
	RESPONSIVE RULES
   ==================
    This part describes how the main page should be displayed on small screens. */

@media (max-width: 480px) {
	/* --------
		Header
	   --------
		The header refers to the top blurred picture and the round logo. */
	#header {
		position: relative;

		height: 150px;

		background-color: blue;
	}

	/* THE "ar" LOGO
	   It is displayed at the center of the header. */
	#ar-logo {
		margin: -44px 0 0 -44px;

		width: 88px;
		height: 88px;
	}

	/* ----------
		Projects
	   ---------- */
	/* PROJECT ITEMS */
	#projects li {
		min-height: 40px;
		padding-left: 50px;
	}

	#projects li:before {
		width: 40px;
		height: 40px;
	}

	/* --------
		Footer
	   -------- */
	#footer a {
		margin: 0 auto;

		display: block;
		width: 100%;
		max-width: 280px;
		height: 40px;
		padding: 0 40px;

		line-height: 40px;
		text-align: center;

		border: 1px solid #ddd;
		border-radius: 20px;

		transition: background-color .1s ease;
	}

	#footer a:not(:last-of-type) { margin: 0 auto 10px; }

	#footer a:hover {
		text-decoration: none;

		background-color: #f8f8f8;
	}

	#footer a:active {
		color: #fff;

		background-color: #6abc46;
		border-color: #6abc46;

		transition: none;
	}

	#footer a:active:before { display: none; }

	#twitter-link:before { left: 20px; }

	#contact-link:before { left: 20px; }
}

@media (max-width: 360px) {
	/* --------
		Layout
	   -------- */
	#wrapper { padding: 0 20px; } /* The side paddings are reduced in order to display more elements */

	/* ----------------
		Generic styles
	   ---------------- */
	/* BASIC TYPOGRAPHY */
	body {
		font-family: Arvo, Georgia, serif;
		font-size: 14px;
		line-height: 20px;
		color: #888;
	}

	/* TITLES */
	h1 {
		padding-top: 20px;

		font-size: 26px;
		line-height: 34px;
	}

	h2,
	h3 {
		font-size: 16px;
		line-height: 22px;
		text-align: center;
	}

	/* PARAGRAPHS */
	p {	margin-bottom: 20px; }

	/* --------
		Header
	   --------
		The header refers to the top blurred picture and the round logo. */
	#header { height: 100px; }

	/* THE "ar" LOGO
	   It is displayed at the center of the header. */
	#ar-logo {
		margin: -27px 0 0 -27px;

		width: 54px;
		height: 54px;
	}

	#ar-logo:after {
		margin: -17px 0 0 -17px;

		width: 34px;
		height: 34px;
	}

	/* ------------
		Sub-header
	   ------------ */
	#sub-header { height: 100px; }

	/* --------------
		Main content
	   -------------- */
	#main-content { padding-top: 20px; }

	/* ----------
		Projects
	   ---------- */
	#projects { margin: 20px 0; }

	#projects p { text-align: center; }

	/* PROJECT ITEMS */
	#projects li {
		min-height: 0;
		padding: 50px 0 0;
	}

	#projects li:before {
		left: 50%;
		margin-left: -20px;
	}

	/* --------
		Footer
	   -------- */
	#footer {
		margin-top: 20px;

		padding: 20px 0;
	}
}