/* -------
	Fonts
   -------
	The fonts that must be loaded by the user in order to be displayed. */
/* ARVO */
/* Arvo Regular */
@font-face {
	/* Typography */
	font-family: Arvo;
	src: url('../fonts/arvo-regular.ttf') format('truetype');
}

/* Arvo Bold */
@font-face {
	/* Typography */
	font-family: Arvo;
	font-weight: bold;
	src: url('../fonts/arvo-bold.ttf') format('truetype');
}

/* Arvo Italic */
@font-face {
	/* Typography */
	font-family: Arvo;
	font-style: italic;
	src: url('../fonts/arvo-italic.ttf') format('truetype');
}

/* Arvo Bold Italic */
@font-face {
	/* Typography */
	font-family: Arvo;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/arvo-bold-italic.ttf') format('truetype');
}

/* ROBOTO SLAB */
/* Roboto Slab Regular */
@font-face {
	font-family: "Roboto Slab";
	src: url('../fonts/RobotoSlab-regular.ttf') format('truetype');
}

/* ----------------
	Generic styles
   ---------------- */
/* BASIC TYPOGRAPHY */
body {
	font-family: Arvo, Georgia, serif;
	font-size: 16px;
	line-height: 22px;
	color: #888;
}

/* TITLES */
h1 {
	padding-top: 40px;

	font-family: "Roboto slab", Arvo, Georgia, serif;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #000;
}

h2 {
	font-family: "Roboto slab", Arvo, Georgia, serif;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
}

h3 {
	font-family: "Roboto slab", Arvo, Georgia, serif;
	font-size: 18px;
	line-height: 25px;
	color: #000;
}

/* PARAGRAPHS */
p {	margin-bottom: 20px; }

/* LINKS */
/* Links' blue color, except for the "Projects" links */
*:not(#projects) a { color: #41a0eb; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

/* Links are green when being clicked, except for the "Projects" links */
*:not(#projects) a:active { color: #6abc46; }

/* SUPERSCRIPT */
sup {
	vertical-align: 5px;

	font-size: 10px;
	line-height: 0;
	font-weight: bold;
}

/* EMPHASIS */
em { font-style: italic; }

/* --------
	Header
   --------
	The header refers to the top blurred picture and the round logo. */
#header {
	position: relative;

	height: 200px;

	background-color: blue;
}

/* THE "ar" LOGO
   It is displayed at the center of the header. */
#ar-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -54px 0 0 -54px;

	width: 108px;
	height: 108px;

	border: 20px solid rgba(255,255,255,.2);
	border-radius: 54px;
}

/* ------------
	Sub-header
   ------------ */
#sub-header {
	height: 150px;

	border-bottom: 1px solid #888;
}

/* --------------
	Main content
   -------------- */
#main-content {
	padding-top: 40px;
}

/* ----------
	Projects
   ---------- */
#projects { margin: 40px 0; }

#projects li {
	position: relative;
	margin: 20px 0;

	min-height: 80px;
	padding-left: 100px;
}

#projects a {
	color: inherit;
}

#projects a:hover {
	text-decoration: none;
}

#projects a:active {
	color: inherit;
}

/* PROJECT ITEMS */
#projects li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 80px;
	height: 80px;

	background-repeat: no-repeat;
	background-size: cover;
}

/* Mado project */
#mado:before { background-image: url("../img/mado-logo.png"); }

/* GitHub projects */
#github:before { background-image: url("../img/github-logo.png"); }

/* Medium writings project */
#medium:before { background-image: url("../img/medium-logo.png"); }

/* Novel project: 'Le Masque de la reine' */
#queens-mask:before { background-image: url("../img/writing-icon.png"); }

/* --------
	Footer
   -------- */
#footer {
	margin-top: 40px;

	padding: 20px 0 40px;

	border-top: 1px solid #888;
}

#footer a {
	position: relative;

	padding-left: 24px;

	color: inherit;
}

#footer a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 24px;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
}

#twitter-link:before {
	background-image: url("../img/twitter-icon.png");
}


/* ==================
	RESPONSIVE RULES
   ==================
    This part describes how the main page should be displayed on small screens. */

@media (max-width: 480px) {
	/* --------
		Header
	   --------
		The header refers to the top blurred picture and the round logo. */
	#header {
		position: relative;

		height: 150px;

		background-color: blue;
	}

	/* THE "ar" LOGO
	   It is displayed at the center of the header. */
	#ar-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -54px 0 0 -54px;

		width: 108px;
		height: 108px;

		border: 20px solid rgba(255,255,255,.2);
		border-radius: 54px;
	}

	/* ----------
		Projects
	   ---------- */
	#projects li { padding-left: 50px; }

	/* PROJECT ITEMS */
	#projects li:before {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 360px) {
	/* --------
		Layout
	   -------- */
	#wrapper { padding: 0 20px; } /* The side paddings are reduced in order to display more elements */

	/* ----------------
		Generic styles
	   ---------------- */
	/* BASIC TYPOGRAPHY */
	body {
		font-family: Arvo, Georgia, serif;
		font-size: 14px;
		line-height: 20px;
		color: #888;
	}

	/* TITLES */
	h1 {
		padding-top: 20px;

		font-size: 26px;
		line-height: 34px;
		text-align: center;
		color: #000;
	}

	h2 {
		font-size: 16px;
		line-height: 22px;
		text-align: center;
	}

	h3 {
		font-size: 18px;
		line-height: 25px;
		color: #000;
	}

	/* --------
		Header
	   --------
		The header refers to the top blurred picture and the round logo. */
	#header {
		position: relative;

		height: 100px;

		background-color: blue;
	}

	/* THE "ar" LOGO
	   It is displayed at the center of the header. */
	#ar-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -54px 0 0 -54px;

		width: 108px;
		height: 108px;

		border: 20px solid rgba(255,255,255,.2);
		border-radius: 54px;
	}

	/* ------------
		Sub-header
	   ------------ */
	#sub-header {
		height: 100px;

		border-bottom: 1px solid #888;
	}

	/* --------------
		Main content
	   -------------- */
	#main-content { padding-top: 20px; }
}